body {

  margin: 0px;
  background-color: #111;
  background-image: url(stars2.png), url(stars1.png), url(back.jpg);
  background-position: 120% 70px, 0px 0px, 0px 0px;
  background-repeat: no-repeat, repeat-x, repeat-x;
  animation: animate-background linear 50s infinite;
}

@keyframes animate-background {

  from {

   background-position: 120% 70px, 0px 0px, -500px 0px; 
  } 
  
  to {

   background-position: -20% 70px, -1000px 0px, 0px 0px;
  }
}

.box {

  color: white;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 70px;
  padding-top: 200px;
  text-align: center;
}

.image {

  margin-top: 10px;
}

#red {

  color: #cd0d0d;
}

#orange {

  color: #f38408;
}

#blue{

  color: #048fcc;
}

#yellow {

  color: #f3c403;
}

#green {

  color: #b2cb05;
}
