body {

	background: black;
	background-size: cover;
}
#board {

	background: white;
	background-size: cover;
	
	width: 1170px;
	height: 548px;
	padding: 24px;
	margin: 0px auto;
	margin-top: 25px;
}

div#board > div {

	background: url(cube.png) no-repeat;
	border: #ffffff 2px solid;
	width: 130px;
	height: 75px;
	float: left;
	margin: 10px;
	padding: 20px;
	font-size: 64px;
	cursor: pointer; /*do something*/
	text-align: center;
	color: white;
}


 
